/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/public/google-fonts/open-sans-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/public/google-fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/public/google-fonts/open-sans-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/public/google-fonts/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/public/google-fonts/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/public/google-fonts/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

html { width: 100%; height: 100% }
body { width: 100%; height: 100%; min-height: 100%; background: var(--body-background-color); color: var(--body-text-color); padding: 0; margin: 0; font-family: 'Open Sans', sans-serif }
/* menu, previously icon links with hover descriptions */
menu { margin: 0; padding: 0 }
menu div { display: inline-block }
menu button { outline: 0; background-color: transparent; border: none; display: block; float: left; white-space: nowrap; color: inherit; margin: 0 0.5rem 0 0.5rem; height: 3rem; line-height: 3rem; padding: 0 0.75rem; opacity: 0.8; font-size: 0.9rem; cursor: pointer; border-radius: 0.5rem }
menu button:hover { background-color: var(--menu-button-hover-background-color); color: var(--menu-button-hover-text-color) }
menu button:focus { color: var(--menu-button-hover-text-color) }
menu button.active { background-color: var(--menu-button-hover-background-color); color: var(--menu-button-hover-text-color) }
menu button img { height: 1rem; width: 1rem; margin: 0.9rem 0.5rem 0 0; display: block; float: left }
/* list table */
h2 { color: var(--heading-color); font-weight: normal }
p { color: var(--text-color) }
table { border-collapse: collapse }
table, th, td { border: 1px solid var(--table-border-color) }
th { background-color: var(--table-heading-background-color); color: var(--table-heading-text-color); text-transform: uppercase; font-size: 1rem }
th, td { padding: 0.5rem; text-align: left }
td,
td a { color: var(--table-heading-text-color) }

/* select fields via https://moderncss.dev/custom-select-styles-with-pure-css/*/
.select-dropdown,
.select-dropdown * { margin: 0; padding: 0; position: relative; box-sizing: border-box; }
.select-dropdown { position: relative; background-color: var(--post-input-background-color); color: var(--post-input-text-color); border-radius: 4px; display: inline-block }
.select-dropdown select { color: var(--post-input-text-color); font-size: 1rem; font-weight: normal; max-width: 100%; padding: 8px 24px 8px 10px; border: none; background-color: transparent; appearance: none; }
.select-dropdown select:active, .select-dropdown select:focus { outline: none; box-shadow: none; }
.select-dropdown:after { content: ""; position: absolute; top: 50%; right: 8px; width: 0; height: 0; margin-top: -2px; border-top: 5px solid #aaa; border-right: 5px solid transparent; border-left: 5px solid transparent }



/* additional content for post ids, organization ownership, listing, deleting */
.content { padding: 20px }
.form-padder { padding: 0.25rem }
label.title { display: block; margin: 1rem 0 0.5rem 0 !important; font-weight: normal !important; font-size: 0.9rem !important }
.post-information { padding: 1rem; margin: 0 }
.post-information h2 { font-size: 1.2rem; font-weight: bold; margin: 0 }
.post-information ul { margin: 0; padding: 0; list-style-type: none }
.post-information li { list-style-type: none }
.post-information label { margin-right: 0.5rem; font-weight: bold; font-size: 1rem }




.post-information input[type=text] { margin-right: 0.5rem; width: 10rem; padding: 0.25rem 0.5rem; background-color: var(--post-input-background-color); color: var(--post-input-text-color); border: 1px solid var(--post-input-border-color); font-size: 1rem; font-weight: bold }
.post-information button { display: inline-block; margin-right: 0.5rem; font-size: 1rem; font-weight: bold; color: var(--post-button-text-color); background-color: var(--post-button-background-color); border: 1px outset var(--post-input-border-color); border-radius: 0.25rem; padding: 0.25rem 0.5rem }
.post-information h2 button { margin-right: 0; margin-left: 0.5rem }
.post-information div { margin-top: 0.5rem }
/* posts */
.post-container { position: relative; padding: 13px 43px 100px 40px; max-width: 100%; overflow: auto }
textarea { border-color: transparent; outline: 0; background-color: var(--textarea-background-color); color: var(--textarea-text-color); padding: 0; font-family: monospace; font-size: 13px; width: 100%; height: 40rem }
#line-numbers { text-align: right; color: var(--line-numbers-text-color); z-index: -1000; position: absolute; top: 13px; left: 0; width: 30px }
#line-numbers ol { padding-top: 0; margin: 0; font-family: monospace }
#line-numbers li { font-size: 13px }
#post-preview { padding: 0; margin: 0; width: 100%; border: 0; outline: none; font-size: 13px; overflow: inherit; background: transparent }
#post-preview code { padding: 0; background: transparent !important }
/* solarized dark theme, Original Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com> */
.hljs { display: block; overflow-x: auto; padding: 0.5em }
.hljs-comment, .hljs-quote { color: var(--hljs-quote) }
.hljs-keyword, .hljs-selector-tag, .hljs-addition { color: var(--hljs-olive); }
.hljs-number, .hljs-string, .hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp { color: var(--hljs-green) }
.hljs-title, .hljs-section, .hljs-name, .hljs-selector-id, .hljs-selector-class { color: var(--hljs-blue) }
.hljs-attribute, .hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-class .hljs-title, .hljs-type { color: var(--hljs-yellow) }
.hljs-symbol, .hljs-bullet, .hljs-subst, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-link { color: var(--hljs-orange) }
.hljs-built_in, .hljs-deletion { color: var(--hljs-red) }
.hljs-formula { background: var(--hljs-gray) }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }
/* mobile tweaks */
@media (max-width: 960px) {
  .mast h2 { font-size: 2.4rem; line-height: 3.2rem }
  .post-information h2 { font-size: 0.8rem; font-weight: normal }
  a.pure-button { font-size: 1.2rem !important; margin: 0 2rem 0 0 !important }
  menu button { font-size: 0.7rem !important; padding: 0 0.5rem !important; margin: 0 0 0 1rem !important }
}
/* mobile tweaks */
@media (max-width: 640px) {
  input, select { width: 100% }
}

/* color settings */
:root {
  --body-background-color: #002B36;
  --body-text-color: rgba(255, 255, 255, 0.75);
  --menu-button-hover-background-color: #000;
  --menu-button-hover-text-color: #FFF;
  --heading-color: rgba(255, 255, 255, 0.5);
  --text-color: rgba(255, 255, 255, 0.5);
  --table-border-color: rgba(255, 255, 255, 0.5);
  --table-heading-background-color: rgba(255, 255, 255, 0.5);
  --table-heading-text-color: rgba(0, 0, 0, 0.75);
  --table-link-text-color: rgba(255, 255, 255, 0.75);
  --line-numbers-text-color: rgba(55, 255, 255, 0.5);
  --textarea-background-color: rgba(0, 0, 0, 0.25);
  --textarea-text-color: rgba(255, 255, 255, 0.75);
  --post-input-background-color: #DDD;
  --post-input-text-color: rgba(255, 255, 255, 0.75);
  --post-button-background-color: #000;
  --post-button-text-color: rgba(255, 255, 255, 0.5);
  --post-input-border-color: #999;
  --hljs-quote: #586E75;
  --hljs-olive: #859900;
  --hljs-green: #2AA198;
  --hljs-blue: #268BD2;
  --hljs-yellow: #B58900;
  --hljs-orange: #CB4B16;
  --hljs-red: #DC322F;
  --hljs-gray: #073642;
}

@media (prefers-color-scheme: dark) {
  :root {
    --entry-form-success-color: #F7F1ED;
    --entry-form-error-color: #7d9fc1;
    --entry-form-background-color: #002B36;
    --entry-form-text-color: #F7F1ED;
    --entry-form-button-background-color: #000;
    --entry-form-button-text-color: #F7F1ED;
    --entry-form-button-focus-background-color: #000;
    --entry-form-button-focus-text-color:  #F7F1ED;
    --entry-form-button-disabled-background-color: #666;
    --entry-form-button-disabled-text-color: #000;
    --body-background-color: #00141A;
    --body-text-color: rgba(255, 255, 255, 0.5);
    --menu-button-hover-background-color: #000;
    --menu-button-hover-text-color: #FFF;
    --heading-color: rgba(255, 255, 255, 025);
    --text-color: rgba(255, 255, 255, 0.25);
    --table-border-color: rgba(255, 255, 255, 0.25);
    --table-heading-background-color: rgba(255, 255, 255, 0.25);
    --table-heading-text-color: rgba(0, 0, 0, 0.5);
    --table-link-text-color: rgba(255, 255, 255, 0.5);
    --line-numbers-text-color: rgba(55, 255, 255, 0.25);
    --textarea-background-color: rgba(0, 0, 0, 0.25);
    --textarea-text-color: rgba(255, 255, 255, 0.5);
    --post-input-background-color: rgba(255, 255, 255, 0.25);
    --post-input-text-color: rgba(255, 255, 255, 0.5);
    --post-button-background-color: #000;
    --post-button-text-color: rgba(255, 255, 255, 0.5);
    --post-input-border-color: #999;
    --hljs-quote: #7DA7B5;
    --hljs-olive: #cde147;
    --hljs-green: #48ECDF;
    --hljs-blue: #268BD2;
    --hljs-yellow: #B58900;
    --hljs-orange: #CB4B16;
    --hljs-red: #FF6764;
    --hljs-gray: #073642;
  }
}
