:root {
  --content-body: #002B36;
  --content-blue: rgba(255, 255, 255, 0.5);
  --content-blue-dark: rgba(255, 255, 255, 0.75);
  --content-red: #dc3545;
  --content-green: #198754;
  --content-white: rgba(0, 0, 0, 0.75);
  --content-gray: #6c757d;
  --content-gray-dark: #343a40;
  --content-gray-light: #a9b6c2;
  --content-success: #198754;
  --content-info: #498484;
  --content-danger: #f99aa3;
  --content-light: rgba(255, 255, 255, 0.75);
  --content-dark: rgba(0, 0, 0, 0.5);
  --content-text-color: var(--content-light);
  --entry-form-text-color: var(--content-light);
  --button-background-color: var(--content-gray-light);
  --button-text-color: var(--content-gray-dark);
  --button-border-color: transparent;
  --button-submit-border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-body: #00141A;
    --content-blue: #a9b6c2;
    --content-blue-dark: #f8f9fa;
    --content-red: #dc3545;
    --content-green: #198754;
    --content-white: #000;
    --content-gray: #6c757d;
    --content-gray-light: #343a40;
    --content-gray-dark: #a9b6c2;
    --content-success: #2fbf7c;
    --content-info: #6c757d;
    --content-danger: #f99aa3;
    --content-dark: rgba(255, 255, 255, 0.5);
    --content-light: rgba(0, 0, 0, 0.5);

    --content-text-color: var(--content-dark);
    --entry-form-text-color: var(--content-dark);

    --button-background-color: var(--content-gray-light);
    --button-text-color: var(--content-gray-dark);
    --button-border-color: transparent;
    --button-submit-border-color: transparent;
  }
}
