 :root {
   --content-background-color: #002B36;
   --content-text-color: rgba(255, 255, 255, 0.5);
   --content-th-background-color: rgba(255, 255, 255, 0.25);
   --button-primary-background-color: rgba(255, 255, 255, 0.25);
   --content-darkest-color: rgba(255, 255, 255, 0.5);
   --button-primary-text-color: rgba(255, 255, 255, 0.75);
   --button-primary-focus-background-color: rgba(255, 255, 255, 0.5);
   --content-focus-color: #FFF;
 }

 @media (prefers-color-scheme: dark) {
   :root {
      --content-background-color: #00141A;
      --content-th-background-color: rgba(255, 255, 255, 0.125);
      --button-primary-background-color: rgba(255, 255, 255, 0.25);
      --content-darkest-color: rgba(255, 255, 255, 0.5);
      --button-primary-text-color: rgba(255, 255, 255, 0.75);
      --button-primary-focus-background-color: rgba(255, 255, 255, 0.5);
      --content-focus-color: #FFF;
   }
 }
 