.home .template .navigation { display: none }

:root {
  --template-background-color: #002B36;
  --template-text-color: rgba(255, 255, 255, 0.75);
  --template-focus-color: #2c4b4b;
  --template-darkest-color: rgba(0, 0, 0, 0.75);
  --template-highlight-focus-color: rgba(255, 255, 255, 0.5);
  --template-shadow-color: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --template-background-color: #00141A;
    --template-text-color: rgba(247, 241, 237, 0.75);
    --template-focus-color: #011f27;
    --template-darkest-color: #2F365F;
    --template-highlight-focus-color: rgba(255, 255, 255, 0.25);
    --template-shadow-color: #000;
  }
}
