body,
.template,
.template .navigation,
.template #spillage-menu-container,
.template .header { background-color: #002B36; color: rgba(255, 255, 255, 0.75) }
.template #spillage-menu-container:hover,
.template #spillage-menu-container:active,
.template #spillage-menu-container:focus,
.template #spillage-menu-container:hover menu,
.template #spillage-menu-container:active menu,
.template #spillage-menu-container:focus menu { background-color: rgba(0, 0, 0, 0.75); border-color: #000 }
.template #spillage-menu-container menu { border-top-left-radius: 0.5rem }
.template .navigation { border-bottom: none; background-color: transparent }
.template .navigation a,
.template .navigation span { color: rgba(255, 255, 255, 0.75) !important; padding: 0 0.75rem !important; margin: 0 0.25rem !important }
.template .navigation a:hover { color: #FFF !important; background-color: #000 !important; border-radius: 0.5rem !important; text-decoration: none !important }
.template #spillage-menu-container a { padding: 0 0.5rem !important; margin: 0 !important; line-height: 2rem !important }
.template #spillage-menu-container a span { margin: 0 !important; padding: 0 !important }
.template .menu-group:hover .dropdown-menu,
.template .menu-group:hover .menu-trigger,
.template .menu-group:focus .dropdown-menu,
.template .menu-group:focus .menu-trigger,
.template .menu-group:active .dropdown-menu,
.template .menu-group:active .menu-trigger { background-color: #477979 }
.template .dropdown-menu a { color: #002B36 !important }
.template .dropdown-menu a:hover { color: #006B36 !important }